.carusel{
    background-color: red;
    width: 400px;
    height: 400px;
    margin-left: 25%;
    margin-top: 5%;
    overflow-x: hidden;
}

.carusel_container{
    display: flex;
    transform: translateX(0px);

    transition: transform 0.5s ease-in-out;
}

button{
    margin-top: 0px;
    width: 198px;
    height: 25px;
    box-sizing: border-box;
    background-color: green;
    font-size: 18px;
    color: white;
    outline: none;
    border: 0;
    border-radius: 3px;
}
button:active{
    transform: scale(1.5);
    transition: transform 0.7s ease-in-out;
}

#send{
    
    margin-left: 25%;
}
